{% extends 'stocker/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title_block %}
	Login
{% endblock %}
{% block body_block %}
	{% block user_options_block %}
	{% endblock %}

{% if not user.is_authenticated %}
	<h1 class="ui block header">
		Login
		<div class="ui basic segment">
			<div class="sub header">{% blocktrans %}Informe seus dados para acessar o sistema.{% endblocktrans %}</div>
		</div>
		</h1><br/>
		<form id="login_form" method="post" class="ui form" action=".">
			<div class="ui grid">
				<div class="four wide column"></div>
				<div class="eight wide column">
					{% csrf_token %}
					{% for hidden in form.hidden_fields %}
						{{ hidden }}
					{% endfor %}

					{% for field in form %}
						<div class="fieldWrapper">
							{{ field.errors }}
							{{ field.label_tag }} {{ field }}
							{% if field.help_text %}
							<p class="help">{{ field.help_text|safe }}</p>
							{% endif %}
						</div>
					<br/>
					{% endfor %}
				</div>
				<div class="four wide column"></div>
				<div class="five wide column"></div>
				<div class="six wide column">
					<div class="ui basic segment center aligned">
					<input type="submit" value='{% trans "Entrar"%}' class="ui primary button"/>
					<input type="hidden" name="next" value="{{ next }}"/>
					</div>
				</div>
				<div class="five wide column"></div>
			</div>
		</form>
		<div class="ui grid">
				<div class="five wide column"></div>
				<div class="six wide column">
					<p>
						{% blocktrans %}Ainda não está Registrado?{% endblocktrans %}
						<a href="{% url 'registration_register' %}">{% blocktrans %}Cadastre-se{% endblocktrans %}</a>
					</p>
				</div>
				<div class="five wide column"></div>
		</div>
	{% else %}
		<div class="ui center aligned segment">
		  <p>Clique aqui e vá para a listagem de insumos: <a href="{% url 'listar_insumos' %}">Listar Insumos</a>
		  </p>
		</div>
    {% endif %}
{% endblock %}