{% extends 'stocker/base.html' %}
{% load staticfiles %}
 {% block title_block %}
	Login
{% endblock %}
 {% block body_block %}
  {% block user_options_block %}
  {% endblock %}
	<h1>Login</h1>
	<form id="login_form" method="post" action=".">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Entrar"/>
		<input type="hidden" name="next" value="{{ next }}"/>
	</form>
	<p>
		Ainda não está Registrado?
		<a href="{% url 'registration_register' %}">Cadastre-se</a>
	</p>
{% endblock %}