{% extends 'stocker/base.html' %}
{% load i18n %}
{% load staticfiles %}
 {% block title_block %}
	{% blocktrans %}Cadastro{% endblocktrans %}
{% endblock %}

 {% block body_block %}
	{% block user_options_block %}
	{% endblock %}

	<h1 class="ui block header">
      {% blocktrans %}Registre-se{% endblocktrans %}
        <div class="ui basic segment">
            <div class="sub header">{% blocktrans %}Preencha seus dados.{% endblocktrans %}</div>
        </div>
    </h1>
	<div>
		<br/>
		<form id="category_form" method="post" class="ui form" action=".">
			<div class="ui grid">
				<div class="four wide column"></div>
				<div class="eight wide column">
					{% csrf_token %}
					{% for hidden in form.hidden_fields %}
						{{ hidden }}
					{% endfor %}

					{% for field in form %}
						<div class="fieldWrapper">
							{{ field.errors }}
							{{ field.label_tag }} {{ field }}
							{% if field.help_text %}
							<p class="help">{{ field.help_text|safe }}</p>
							{% endif %}
						</div>
					<br/>
					{% endfor %}
				</div>
				<div class="four wide column"></div>
				<div class="five wide column"></div>
				<div class="six wide column">
					<div class="ui basic segment center aligned">
					<input type="submit" name="submit" class="ui primary button" value='{% trans "Criar usuário"%}' />
					</div>
				</div>
				<div class="five wide column"></div>
			</div>
		</form>
	</div>
{% endblock %}