{% extends 'stocker/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title_block %}
{% blocktrans %}Adição de Insumos{% endblocktrans %}
{% endblock %}

{% block body_block %}
    <h1 class="ui block header">
        {% blocktrans %}Adicionar Quantidade de Insumo{% endblocktrans %}
        <div class="ui basic segment">
            <div class="sub header">{% blocktrans %}Preencha a quantidade que deseja adicionar do seu insumo.{% endblocktrans %}</div>
        </div>
    </h1>
    <div>
    <br/>
    <form id="category_form" method="post" class="ui form" action="{%  url 'add_insumos' insumo.id %}">
        <div class="ui grid">
            <div class="four wide column"></div>
            <div class="eight wide column">
                {% csrf_token %}
                  <label>{% blocktrans %}Insumo:{% endblocktrans %}</label>
                  <div class="ui blue segment">{{ insumo.nome }}</div>
                  <label>{% blocktrans %}Unidade de Medida:{% endblocktrans %}</label>
                  <div class="ui blue segment">{{ insumo.unidade }}</div>
                  <label>{% blocktrans %}Quantidade atual no seu estoque:{% endblocktrans %}</label>
                  <div class="ui blue segment">{{ insumo.quantidade }}</div>
                <label><strong>{% blocktrans %}Informe a quantidade que deseja inserir:{% endblocktrans %}</strong></label>
                <input type="number" min=1 name="quantidade" /><br/>
            </div>
            <div class="four wide column"></div>

            <div class="five wide column"></div>
            <div class="six wide column">
                <div class="ui basic segment center aligned">
                    <input type="submit" name="add-insumo" value="Adicionar Insumo" class="ui green button"/>
                </div>
            </div>
            <div class="five wide column"></div>
        </div>
    </form>
    </div>
{% endblock %}
