<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}

<html>
<head lang="pt">
	<meta charset="UTF-8" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'semantic/dist/semantic.css' %}"/>
	<title>
	{% block title_block %}
        Stocker
 	{% endblock %}
	</title>
    <link rel="icon" type="image/ico" href="{% static 'images/logo.jpg' %}" />
</head>
<body>
    <div class="ui inverted segment menu-base">
        <div class="ui inverted secondary pointing menu">
            <div><h1 class="stocker-logo"><a href="{% url 'index' %}" class="link-stocker">STOCKER</a></h1></div>
            {% block user_options_block %}
            <a class="item" href="{% url 'cad_unidade' %}">{% blocktrans %}Cadastrar Unidades{% endblocktrans %}</a>
            <a class="item" href="{% url 'cad_insumos' %}">{% blocktrans %}Cadastrar Insumos{% endblocktrans %}</a>
            <a class="item" href="{% url 'listar_insumos' %}">{% blocktrans %}Listar Insumos{% endblocktrans %}</a>
            <a class="item" href="{% url 'perfil' %}">{% blocktrans %}Perfil{% endblocktrans %}</a>
            <a class="item" href="{% url 'auth_logout' %}?next=/stocker/">{% blocktrans %}Sair{% endblocktrans %}</a>
             {% endblock %}
            <div class="right menu">
            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}">
                <select name="language" class="ui dropdown">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                            {{ language.name_local }} ({{ language.code }})
                        </option>
                    {% endfor %}
                </select>
                <input type="submit" value="Go" class="ui primary button">
            </form>
            </div>
        </div>
    </div>
    <div class="ui grid">
      <div class="sixteen wide column"></div>
      <div class="three wide column"></div>
      <div class="ten wide column conteudo-central">
          {% block body_block %}
          {% endblock %}
      </div>
      <div class="three wide column"></div>

       <div class="sixteen wide column">
           <div class="push"></div>
           <footer class="ui inverted segment footer-base">
             <p>{% blocktrans %}Stocker por alunos do BSI-6 de 2018 - Ana, Bruno, José{% endblocktrans %}</p>
             <p><a href="https://stocker.readthedocs.io/en/latest/index.html">{% blocktrans %}
                 Documentação{% endblocktrans %}</a></p>
           </footer>
       </div>
    </div>
</body>
</html>