<!DOCTYPE html>
{% load staticfiles %}

<html>
<head lang="pt">
	<meta charset="UTF-8" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'semantic/dist/semantic.css' %}"/>
	<title>
 	Stocker
	{% block title_block %}
 	{% endblock %}
	</title>
</head>
<body>
    <div class="ui inverted segment menu-base">
        <div class="ui inverted secondary pointing menu">
          <a class="active item" href="{% url 'index' %}">Home</a>
          <a class="item" href="{% url 'cad_unidade' %}">Cadastrar Categorias</a>
          <a class="item" href="{% url 'cad_insumos' %}">Cadastrar Insumos</a>
          <a class="item" href="{% url 'listar_insumos' %}">Listar Insumos</a>
          <a class="item" href="{% url 'auth_logout' %}?next=/stocker/">Sair</a>
        </div>
    </div>

    <div class="ui grid">
      <div class="sixteen wide column"></div>
      <div class="three wide column">
          {% block sidebar %}
          <div class="ui blue vertical menu">
              <a class="active item">
                Home
              </a>
              <a class="item">
                Messages
              </a>
              <a class="item">
                Friends
              </a>
          </div>
          {% endblock %}
      </div>
      <div class="one wide column"></div>
      <div class="nine wide column conteudo-central">
          {% block body_block %}
          {% endblock %}
      </div>
      <div class="three wide column"></div>

       <div class="sixteen wide column">
           <footer class="ui inverted segment footer-base">
             <p>Stocker by alunos do BSI-6 de 2018 - Ana, Bruno, Igor, José</p>
           </footer>
       </div>
    </div>
</body>
</html>