<!DOCTYPE html>
{% load staticfiles %}

<html>
<head lang="pt">
	<meta charset="UTF-8" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'semantic/dist/semantic.css' %}"/>
	<title>
 	Stocker
	{% block title_block %}
 	{% endblock %}
	</title>
</head>
<body>
    <div class="ui inverted segment menu-base">
        <div class="ui inverted secondary pointing menu">
          <a class="active item" href="{% url 'index' %}">Home</a>
          <a class="item" href="{% url 'inserir_insumos' %}">Cadastrar Insumos</a>
          <a class="item" href="{% url 'listar_insumos' %}">Inserir/Retirar Insumos</a>
        </div>
    </div>

    <div class="ui grid">
      <div class="four wide column">
          {% block sidebar %}
          {% endblock %}
      </div>
      <div class="one wide column"></div>
      <div class="seven wide column conteudo-central">
          {% block body_block %}
          {% endblock %}
      </div>
      <div class="four wide column"></div>

       <div class="sixteen wide column">
           <footer class="ui inverted segment footer-base">
             <p>Stocker by alunos do BSI-6 de 2018 - Ana, Bruno, Igor, José</p>
           </footer>
       </div>
    </div>
</body>
</html>