{% extends 'stocker/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title_block %}
{% blocktrans %}Criar Insumo{% endblocktrans %}
{% endblock %}

{% block body_block %}
    <h1 class="ui block header">
      {% blocktrans %}Criar Insumo{% endblocktrans %}
        <div class="ui basic segment">
            <div class="sub header">{% blocktrans %}Preencha os campos e cadastre seu novo insumo.{% endblocktrans %}</div>
        </div>
    </h1>
    <div>
        <br/>
    <form id="category_form" method="post" class="ui form" action="{%  url 'cad_insumos' %}">
        <div class="ui grid">
            <div class="four wide column"></div>
            <div class="eight wide column">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in form %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                        {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                <br/>
                {% endfor %}
            </div>
            <div class="four wide column"></div>
            <div class="five wide column"></div>
            <div class="six wide column">
                <div class="ui basic segment center aligned">
                <input type="submit" name="submit" class="ui primary button" value='{% trans "Criar Insumo"%}' />
                </div>
            </div>
            <div class="five wide column"></div>
        </div>
    </form>
    </div>
{% endblock %}
