{% extends 'stocker/base.html' %}
{% load staticfiles %}

{% block title_block %}
Adicionar Categoria
{% endblock %}

{% block body_block %}
    <h1>Editar Insumo</h1>
    <form id="category_form" method="post" action="{%  url 'edit_insumos' insumo.id %}">
            {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <div style="display: none">
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}
        </div>
       Informe a quantidade (disponível em estoque: {{ quantidade_insumo }}):<br/>
        <input type="number" min=0 name="quantidade" /><br/>
    <input type="submit" name="add-insumo" value="Adicionar Insumo" />
    <input type="submit" name="remove-insumo" value="Retirar Insumo" />
     </form>
{% endblock %}
