{% extends 'stocker/base.html' %}
{% load staticfiles %}

{% block title_block %}
{% endblock %}

{% block body_block %}
  {% block user_options_block %}
  {% endblock %}
	<h1 class="display-2">Bem-vindo</h1>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <p class="lead">
            Se você é novo no nosso site <strong><a href="{% url 'registration_register' %}">Cadastre-se</a></strong>!
          </p>
        </div>
        <div class="col-sm">
          <p class="lead">
            Se você já é cadastrado é só <strong><a href="{% url 'auth_login' %}">Entrar</a></strong>!
          </p>
        </div>
      </div>
    </div>
{% endblock body_block %}