{% extends 'stocker/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title_block %}
{% blocktrans %}Listagem de Insumos{% endblocktrans %}
{% endblock %}

{% block body_block %}
    <h1 class="ui block header">
        {% blocktrans %}Listagem de Insumos{% endblocktrans %}
        <div class="ui basic segment">
            <div class="sub header">{% blocktrans %}Aqui estão os insumos que foram cadastrados.
                Clique nas opções para adicionar ou retirar quantidade do seu insumo.{% endblocktrans %}</div>
        </div>
    </h1>

    {% if insumos %}
        <table class="ui blue striped table">
          <thead>
            <tr>
              <th>{% blocktrans %}Insumo{% endblocktrans %}</th>
              <th>{% blocktrans %}Quantidade{% endblocktrans %}</th>
              <th>{% blocktrans %}Unidade de Medida{% endblocktrans %}</th>
              <th>{% blocktrans %}Adicionar{% endblocktrans %}</th>
              <th>{% blocktrans %}Retirar{% endblocktrans %}</th>
            </tr>
          </thead>
          <tbody>
            {% for insumo in insumos %}
                <tr>
                  <td>{{ insumo.nome }}</td>
                  <td>{{ insumo.quantidade }}</td>
                  <td>{{ insumo.unidade }}</td>
                  <td><a href="{% url 'add_insumos' insumo.id %}" class="ui primary button">+</a></td>
                  <td><a href="{% url 'retirar_insumos' insumo.id %}" class="ui red button">-</a></td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    {% else %}
        {% blocktrans %}Não há insumos cadastrados!{% endblocktrans %}
    {% endif %}
{% endblock %}
