{% extends 'stocker/base.html' %}
{% load staticfiles %}

{% block title_block %}
Adicionar Categoria
{% endblock %}

{% block body_block %}
    <h1 class="ui block header">
        Listagem de Insumos
        <div class="ui basic segment">
            <div class="sub header">Aqui estão os insumos que foram cadastrados.</div>
        </div>
    </h1>

    {% if insumos %}
        <table class="ui blue striped table">
          <thead>
            <tr>
              <th>Insumo</th>
              <th>Quantidade</th>
              <th>Unidade</th>
              <th>Adicionar</th>
              <th>Retirar</th>
            </tr>
          </thead>
          <tbody>
            {% for insumo in insumos %}
                <tr>
                  <td><a href="{% url 'edit_insumos' insumo.id %}">{{ insumo.nome }}</a></td>
                  <td>{{ insumo.quantidade }}</td>
                  <td>{{ insumo.unidade }}</td>
                  <td><a href="{% url 'edit_insumos' insumo.id %}" class="ui primary button">+</a></td>
                  <td><a href="{% url 'edit_insumos' insumo.id %}" class="ui red button">-</a></td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    {% else %}
        Não há insumos cadastrados!
    {% endif %}
{% endblock %}
