{% extends 'stocker/base.html' %}
{% load staticfiles %}

{% block title_block %}
Retirada de Insumos
{% endblock %}

{% block body_block %}
    <h1 class="ui block header">
        Retirar Quantidade de Insumo
        <div class="ui basic segment">
            <div class="sub header">Preencha a quantidade que deseja retirar do seu insumo.</div>
        </div>
    </h1>
    <div>
    <br/>
    <form id="category_form" method="post" class="ui form" action="{%  url 'retirar_insumos' insumo.id %}">
        <div class="ui grid">
            <div class="four wide column"></div>
            <div class="eight wide column">
                {% csrf_token %}
                  <label>Insumo:</label>
                  <div class="ui blue segment">{{ insumo.nome }}</div>
                  <label>Unidade de Medida:</label>
                  <div class="ui blue segment">{{ insumo.unidade }}</div>
                  <label>Quantidade atual no seu estoque:</label>
                  <div class="ui blue segment">{{ insumo.quantidade }}</div>
                <label><strong>Informe a quantidade que deseja retirar:</strong></label>
                <input type="number" min=1 name="quantidade" /><br/>
            </div>
            <div class="four wide column"></div>

            <div class="five wide column"></div>
            <div class="six wide column">
                <div class="ui basic segment center aligned">
                    <input type="submit" name="remove-insumo" value="Retirar Insumo" class="ui red button"/>
                </div>
            </div>
            <div class="five wide column"></div>
        </div>
    </form>
    </div>
{% endblock %}
