html, body {
    height: 100% !important;
    margin: 0 !important;
}

.menu-base {
    min-height: 7% !important;
    margin: 0 !important;
    border-radius: 0 !important;
}

.conteudo-central{
    height: 800px !important;
}

.push {
    height: 15px !important;
}

.footer-base {
    min-height: 10% !important;
    border-radius: 0 !important;
    margin-bottom:0 !important;
    position: absolute !important;
    left: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    color: white !important;
    text-align: center !important;
    display: block !important;
}

.stocker-logo {
    font-size: 35px;
    text-decoration:none !important;
}

.link-stocker:visited {
    color: white;
}

.link-stocker:active {
    color: white;
}

.link-stocker:hover {
    color: #1F88BE !important;
}
